@charset "utf-8";
/* CSS Document */

body {
	font-family: arial, verdana, sans-serif;
	
	}

header{

	font-family:MV Boli;
	background-color: #a55b35;
	color: white;
	border-radius: 50px 50px 50px 50px;
	float: left;
	width: 32%; 
	padding: 20px;
	box-sizing: border-box
}

#s{
border-radius: 15px 15px 15px 15px;
background-color:#eff4c36d;
border:5px solid #765b44;
float: left;
*padding-top:40%;
width:65%;
left:2%;
position:relative;
text-align:center;
}

fieldset{
	background-color:#6f432c;
	color:white;
}

dialog{
	background-color:#422c24;
	color:white;
	float: left;
	position:relative;
	text-align:left;
	border-radius: 30px 30px 30px 30px;
	width:100%;
  
	
	box-sizing: border-box;
}

#bx{
	float: left;
	width: 33.33%; 
	padding: 1px;
	box-sizing: border-box;
 }
 
#by{
	float: left;
	width: 100%; 
	padding: 1px;
	box-sizing: border-box;
	border-radius: 15px 15px 15px 15px;
	border:5px solid #e08145;
	opacity: 0.1;
 }
 
#ico{ 
	position:relative;
	width:25%;	
}

h1{
	position:relative;
	padding-top:-40px;
}

h2{
	font-family:MV Boli;
	color:white;
}

h3{
	font-family:MV Boli;
	color:white;
	}

mark{
	background-color:#8145;
	color:white;}
	
nav{
	margin: 5;
	width: 100%;
	background-color: #a55b;
	border:5px solid #6f432c;
	box-sizing: border-box;
	padding: 1px;
	float: left;
	
}

details{
	color:white;
	font-family:MV Boli;
}

ul {
	margin: 0;
    padding: 0.5;
    list-style-type: none;
    overflow: hidden;
}

#ald:{
	margin: 0;
	display: block;
	right:5%;
	}

#ald:hover{
	background-color: #a55b;
}

.bor{
	background-color:#e08145;
	border: 4px solid #422c24;
	border-collapse:collapse;
}

.thl{
	width: 100%;
	position:relative;
    float: left;
	}

li a {
	position:relative;
    float: left;
	
	margin: 0;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	padding: 13px;
	box-sizing: border-box
}

li a:hover {
	margin: 0;
    background-color: #6f43;
}

aside{
	background-color:#eff4c36d;
	float: left;
	*padding-top:40%;
	width:30%;
	
    border: 5px solid #a55b35;
	border-radius: 15px 15px 15px 15px;
}

footer {
	float: left;
	border:5px solid #422c24;
	clear: both;
    width:100%;
    padding: 30px;
    background: #e08145;
    text-align: center;
    color: #fff;
	box-sizing: border-box;
}

.im:hover{filter: saturate(180%);}